In [61]:
#importar bibliotecas
import re
import os
import string
import os.path
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [62]:
#ler os data coletados
# -*- coding: utf-8 -*-

data = pd.read_excel("PS5_classificado-2.xlsx")
data.head()

                                         Treinamento  Classificado
0  fortnite no playstation 5 no dia do lançamento...             0
1  o anúncio ocorre um dia após a sony brasil ter...             0
2  o playstation 5 é bonito? é! quero um? sim! te...             1
3  @playstation_br vou ao paraguai e trazer para ...             1
4  @stefano_poke nao viaja pelo amor de deus....\...             1

In [63]:
# definir 0 como irrelevante e 1 como relevante, variavel categorica

data["Classificado"] = data["Classificado"].astype('category')
data["Classificado"].cat.categories = ['relevante', 'irrelevante']
data.head()

                                         Treinamento Classificado
0  fortnite no playstation 5 no dia do lançamento...    relevante
1  o anúncio ocorre um dia após a sony brasil ter...    relevante
2  o playstation 5 é bonito? é! quero um? sim! te...  irrelevante
3  @playstation_br vou ao paraguai e trazer para ...  irrelevante
4  @stefano_poke nao viaja pelo amor de deus....\...  irrelevante

In [64]:
def clean(tweet):
    return ''.join([i if ord(i) < 128 else '' for i in tweet])
data["Treinamento"] = data["Treinamento"].apply(clean)
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.lower())
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('.',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('\n',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('?',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('!',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('"',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace(';',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('#',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('&amp',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace(',',' '))
data.Classificado.value_counts(True)

relevante      0.703333
irrelevante    0.296667
Name: Classificado, dtype: float64

In [65]:
filtro_data = data.Treinamento.str.cat()
filtro_data = re.sub("[" + string.punctuation + "]", "", filtro_data.lower())
palavras = filtro_data.split() # lista de todas as palavras

# Dashboard inicial

In [66]:
total = len(palavras) #numero total de palvras na base de dados
num_rel = data.Classificado.value_counts(True)[0] # porcentagem de items relevantes
num_irr = data.Classificado.value_counts(True)[1] # porcentagens de itens irrelevantes
palavras_relevantes = total*data.Classificado.value_counts(True)[0]
palavras_irrelevantes = total*data.Classificado.value_counts(True)[1]
print("O total de palavras na planilha é: ",total)
print(52*"-")
print("O total de palavras em relevantes é: ", palavras_relevantes.round(3))
print(52*"-")
print("O total de palavras em irrelevantes é: ", palavras_irrelevantes.round(3))
print(52*"-")
print("A probabilidade de palavras em relevantes é: ",num_rel.round(3))
print(52*"-")
print("A probabilidade de palavras em relevantes é: ",num_irr.round(3))

O total de palavras na planilha é:  5622
----------------------------------------------------
O total de palavras em relevantes é:  3954.14
----------------------------------------------------
O total de palavras em irrelevantes é:  1667.86
----------------------------------------------------
A probabilidade de palavras em relevantes é:  0.703
----------------------------------------------------
A probabilidade de palavras em relevantes é:  0.297

# Tabela relevante

## Tabela absoluta:

In [67]:
relevante = data["Classificado"] == 'relevante' # pegar somente dados classificados como relevante
data_relevante = data.loc[relevante, :] # filtrar no dataframe
tweet_relevante = pd.Series(data_relevante.Treinamento) #gera uma series de dados relevantes
tweet_relevante = pd.DataFrame(tweet_relevante) #transforma a series em um dataframe
tweet_relevante["Treinamento"] = tweet_relevante["Treinamento"].apply(clean)
palavras_relevantes = tweet_relevante.Treinamento.str.cat() # transforma o dataframe em uma lista de palavras
palavras_relevantes = palavras_relevantes.split()
palavras_relevantes = pd.Series(palavras_relevantes)


abs_relevante = palavras_relevantes.value_counts()
total_relevante = abs_relevante.sum()
print(abs_relevante)
print("Numero total de palavras relevantes: ", total_relevante)

5              174
playstation    141
https://t      141
no             123
o              113
              ...
diferena         1
errei            1
kkk              1
(ps5):           1
bunda            1
Length: 1268, dtype: int64
Numero total de palavras relevantes:  4059

## Tabela relativa

In [68]:
rel_relevante = palavras_relevantes.value_counts(True)
print(rel_relevante)
print(rel_relevante.sum())

5              0.042868
playstation    0.034738
https://t      0.034738
no             0.030303
o              0.027839
                 ...
diferena       0.000246
errei          0.000246
kkk            0.000246
(ps5):         0.000246
bunda          0.000246
Length: 1268, dtype: float64
1.0

# Tabelas irrelevante absoluta e relativa

## Tabela absoluta

In [69]:
irrelevante = data["Classificado"] == 'irrelevante' # pegar somente dados classificados como relevante
data_irrelevante = data.loc[irrelevante, :] # filtrar no dataframe
tweet_irrelevante = pd.Series(data_irrelevante.Treinamento) #gera uma series de dados relevantes
tweet_irrelevante = pd.DataFrame(tweet_irrelevante) #transforma a series em um dataframe
tweet_irrelevante["Treinamento"] = tweet_irrelevante["Treinamento"].apply(clean)
palavras_irrelevantes = tweet_irrelevante.Treinamento.str.cat() # transforma o dataframe em uma lista de palavras
palavras_irrelevantes = palavras_irrelevantes.split()
palavras_irrelevantes = pd.Series(palavras_irrelevantes)


abs_irrelevante = palavras_irrelevantes.value_counts()
total_irrelevante = abs_irrelevante.sum()
print(abs_irrelevante)
print("Numero total de palavras irrelevantes: ", total_irrelevante)

5              91
playstation    72
o              61
eu             40
um             39
               ..
contigo         1
trazer          1
real:           1
bela            1
atari           1
Length: 606, dtype: int64
Numero total de palavras irrelevantes:  1613

In [70]:
## Tabela relativa
rel_irrelevante = palavras_irrelevantes.value_counts(True)
print(rel_irrelevante)
print(rel_irrelevante.sum())

5              0.056417
playstation    0.044637
o              0.037818
eu             0.024799
um             0.024179
                 ...
contigo        0.000620
trazer         0.000620
real:          0.000620
bela           0.000620
atari          0.000620
Length: 606, dtype: float64
0.9999999999999999

## Dashboard de resultados:

In [71]:
print("Numero total de palavras relevantes é: ", total_relevante)
print("Numero total de palavras irrelevantes é: ", total_irrelevante)
total2 = total_relevante+total_irrelevante
print("Numero total de palavras apos o filtro/ajustes é: ",  total2)

Numero total de palavras relevantes é:  4059
Numero total de palavras irrelevantes é:  1613
Numero total de palavras apos o filtro/ajustes é:  5672

# Probabilidades

In [72]:
#probabilidade de ser relevante ou irrelevante

prob_rel = total_relevante/total2
prob_irr = total_irrelevante/total2
checagem = prob_rel+prob_irr
print("A probabilidade de ser relevante é: ", prob_rel) # palavras
print("A probabilidade de ser irrelevante é: ", prob_irr) # palavras
print("Checagem: ",checagem)

A probabilidade de ser relevante é:  0.715620592383639
A probabilidade de ser irrelevante é:  0.28437940761636105
Checagem:  1.0

In [73]:
prob_tweet_rel = 1
prob_tweet_irr = 1



lista_rel = []
lista_irr = []

a = "relevante"
b = "irrelevante"

for tweet in data.Treinamento:
    tweet = clean(tweet)
    tweet = tweet.split()
    
    for i in range(len(tweet)):
        if tweet[i] in rel_relevante:
            prob_tweet_rel *= (abs_relevante[tweet[i]]+1)/(total_relevante+total2)
        else:
            prob_tweet_rel *= (0+1)/(total_relevante+total2)

        
        if tweet[i] in rel_irrelevante:
            prob_tweet_irr *= (abs_irrelevante[tweet[i]]+1)/(total_irrelevante+total2)
        else:
            prob_tweet_irr *= (0+1)/(total_irrelevante+total2)
            



            if (prob_tweet_rel*prob_rel) > (prob_tweet_irr*prob_irr):

                lista_rel.append("relevante")

In [74]:
print("o numero total de tweets classificados é:", len(data.Treinamento))
print("o numero de tweets relevantes é: ", len(lista_rel))
print("a probabilidade de itens relevantes é: ", len(lista_rel)/len(data.Treinamento))
print("a probabilidade de itens irrelevantes é: ", 1-(len(lista_rel)/len(data.Treinamento)))

o numero total de tweets classificados é: 300
o numero de tweets relevantes é:  27
a probabilidade de itens relevantes é:  0.09
a probabilidade de itens irrelevantes é:  0.91

# Conclusão: