In [69]:
#importar bibliotecas
import re
import string
import os.path
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [70]:
#ler os data coletados
# -*- coding: utf-8 -*-

data = pd.read_excel("PS5_classificado-2.xlsx")
#data.sort_values(by="Classificado")
data

                                           Treinamento  Classificado
0    fortnite no playstation 5 no dia do lançamento...             0
1    o anúncio ocorre um dia após a sony brasil ter...             0
2    o playstation 5 é bonito? é! quero um? sim! te...             1
3    @playstation_br vou ao paraguai e trazer para ...             1
4    @stefano_poke nao viaja pelo amor de deus....\...             1
..                                                 ...           ...
295  jogos first-party do playstation 5 chegam ao p...             0
296  @playstation_br 5 mil reais mano? ajuda nóis, ...             1
297  queria muito o playstation 5 mas 4 mil reais, ...             1
298  comprar um playstation 5, só para jogar harry ...             1
299  playstation 5 = 5 mil reais.... outro console ...             1

[300 rows x 2 columns]

In [71]:
# definir 0 como irrelevante e 1 como relevante, variavel categorica

data["Classificado"] = data["Classificado"].astype('category')
data["Classificado"].cat.categories = ['relevante', 'irrelevante']

In [72]:
def clean(tweet):
    return ''.join([i if ord(i) < 128 else '' for i in tweet])
data["Treinamento"] = data["Treinamento"].apply(clean)
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.lower())
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('.',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('\n',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('?',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('!',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('"',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace(';',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('#',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('&amp',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace(',',' '))
data

                                           Treinamento Classificado
0    fortnite no playstation 5 no dia do lanamento ...    relevante
1    o anncio ocorre um dia aps a sony brasil ter a...    relevante
2    o playstation 5  bonito    quero um  sim  tenh...  irrelevante
3    @playstation_br vou ao paraguai e trazer para ...  irrelevante
4    @stefano_poke nao viaja pelo amor de deus     ...  irrelevante
..                                                 ...          ...
295  jogos first-party do playstation 5 chegam ao p...    relevante
296  @playstation_br 5 mil reais mano  ajuda nis  e...  irrelevante
297  queria muito o playstation 5 mas 4 mil reais  ...  irrelevante
298  comprar um playstation 5  s para jogar harry p...  irrelevante
299  playstation 5 = 5 mil reais     outro console ...  irrelevante

[300 rows x 2 columns]

In [73]:
relevante = data["Classificado"] == 'relevante'
data1 = data.loc[relevante, :]
total_relevante = data1.Classificado.value_counts()[0]
print("O numero de dados relevantes é: {0}".format(total_relevante))

O numero de dados relevantes é: 211

In [74]:
irrelevante = data["Classificado"] == 'irrelevante'
data2 = data.loc[irrelevante, :]
total_irrelevante = data2.Classificado.value_counts()[1]
print("O numero de dados irrelevantes antes de filtro é: {0}".format(total_irrelevante))

O numero de dados irrelevantes antes de filtro é: 89

In [75]:
#listagem de dados relevantes
total_palavras = total_relevante+total_irrelevante
total_palavras

300

In [76]:
palavras = str(data.Treinamento)
palavras = pd.Series(palavras.split())
palavras = palavras.value_counts(True)
palavras

5              0.076190
playstation    0.057143
...            0.057143
mil            0.028571
reais          0.028571
                 ...
0              0.009524
300,           0.009524
quero          0.009524
Length:        0.009524
296            0.009524
Length: 72, dtype: float64

In [77]:
lista_relevante =  str(data1.Treinamento)
relevante = pd.Series(lista_relevante.split())
relevante

0                 0
1          fortnite
2                no
3       playstation
4                 5
           ...
103    Treinamento,
104         Length:
105            211,
106          dtype:
107          object
Length: 108, dtype: object

In [78]:
#tabelas de frequencia

In [79]:
tabela_relevante_absoluta = relevante.value_counts()
tabela_relevante_relativa = relevante.value_counts(True)
tabela_relevante_relativa.sum()

1.0000000000000002

In [80]:
#listagem de dados irrelevantes

In [81]:
lista_irrelevante =  str(data2.Treinamento)
irrelevante = pd.Series(lista_irrelevante.split())
irrelevante

0                 2
1                 o
2       playstation
3                 5
4            bonito
           ...
99     Treinamento,
100         Length:
101             89,
102          dtype:
103          object
Length: 104, dtype: object

In [82]:
tabela_irrelevante_absoluta = irrelevante.value_counts()
tabela_irrelevante_relativa = irrelevante.value_counts(True)
tabela_irrelevante_relativa.sum()

0.9999999999999996

In [83]:
tabela_relevante_relativa["playstation"]

0.037037037037037035

In [84]:
tabela_irrelevante_relativa["playstation"]

0.0673076923076923

In [85]:
# teste de tweet a classificar

import random
tweet_aleatorio = random.randint(0, 301)


frase_teste = data.Treinamento[tweet_aleatorio]
#frase_teste = clean(frase_teste.lower())
frase_teste

'sony fez evento anunciando playstation 5  mostrou valor e data  s que ai vem uma questo que complicou a nao gamer  ps5 ir custar 5k  no tem jogador que aguente '

In [86]:
frase = frase_teste.split()
frase

['sony',
 'fez',
 'evento',
 'anunciando',
 'playstation',
 '5',
 'mostrou',
 'valor',
 'e',
 'data',
 's',
 'que',
 'ai',
 'vem',
 'uma',
 'questo',
 'que',
 'complicou',
 'a',
 'nao',
 'gamer',
 'ps5',
 'ir',
 'custar',
 '5k',
 'no',
 'tem',
 'jogador',
 'que',
 'aguente']

In [87]:
#teste de probabilidade

In [88]:
prob_relevante = len(relevante)/(len(relevante)+len(irrelevante))
prob_irrelevante = len(irrelevante)/(len(relevante)+len(irrelevante))

print("A probabilidade dos termos serem relevantes é: ", prob_relevante)
print("A probabilidade dos termos serem irrelevantes é: ", prob_irrelevante)

A probabilidade dos termos serem relevantes é:  0.5094339622641509
A probabilidade dos termos serem irrelevantes é:  0.49056603773584906

# probabilidade do tweet dado condicao: relevante ou irrelevante

In [89]:
prob_tweet_dado_relevante = 1
prob_tweet_dado_irrelevante = 1

n_r = len(tabela_relevante_absoluta)
n_ir = len(tabela_irrelevante_absoluta)


for i in range(len(frase)):
    if frase[i] not in tabela_relevante_absoluta:
        prob_tweet_dado_relevante = prob_tweet_dado_relevante*((0+1)/(n_r+8)) 
    else:
        
        prob_tweet_dado_relevante = prob_tweet_dado_relevante*(tabela_relevante_absoluta[frase[i]]+1)/(n_r+8)
        
    if frase[i] not in tabela_irrelevante_absoluta:
        prob_tweet_dado_irrelevante = prob_tweet_dado_irrelevante*((0+1)/(n_ir+8))
    else:
        
        prob_tweet_dado_irrelevante = prob_tweet_dado_irrelevante*(tabela_irrelevante_absoluta[frase[i]]+1)/(n_ir+8)

In [90]:
prob_tweet_dado_relevante = prob_tweet_dado_relevante*prob_relevante
prob_tweet_dado_irrelevante = prob_tweet_dado_irrelevante*prob_irrelevante

print(prob_tweet_dado_relevante)
print(prob_tweet_dado_irrelevante)

3.844985890280884e-56
3.254972965106059e-54

In [91]:
if prob_tweet_dado_relevante/prob_tweet_dado_irrelevante > prob_tweet_dado_irrelevante/prob_tweet_dado_relevante:
    print("Tweet relevante: ", prob_tweet_dado_relevante/prob_tweet_dado_irrelevante)
else:
    print("Tweet irrelvante",prob_tweet_dado_irrelevante/prob_tweet_dado_relevante)

Tweet irrelvante 84.65500415316939

In [92]:
prob_tweet_dado_relevante

3.844985890280884e-56