In [1]:
#importar bibliotecas
import re
import string
import os.path
import pandas as pd
import matplotlib.pyplot as plt

#import warnings
#warnings.filterwarnings("ignore")

In [2]:
import os

filename = 'PS5_classificado-2.xlxs'
if filename in os.listdir():
    print(f'Encontrei o arquivo {filename}, tudo certo para prosseguir com a prova!')
else:
    print(f'Não encontrei o arquivo {filename} aqui no diretório {os.getcwd()}, será que você não baixou o arquivo?')

Não encontrei o arquivo PS5_classificado-2.xlxs aqui no diretório /Users/ceodiniz/Ciencia dos dados/projeto 1/projeto 1 /Laplace, será que você não baixou o arquivo?

In [3]:
#ler os data coletados
# -*- coding: utf-8 -*-

data = pd.read_excel("PS5_classificado-2.xlsx")
#data.sort_values(by="Classificado")

In [4]:
data

                                           Treinamento  Classificado
0    fortnite no playstation 5 no dia do lançamento...             0
1    o anúncio ocorre um dia após a sony brasil ter...             0
2    o playstation 5 é bonito? é! quero um? sim! te...             1
3    @playstation_br vou ao paraguai e trazer para ...             1
4    @stefano_poke nao viaja pelo amor de deus....\...             1
..                                                 ...           ...
295  jogos first-party do playstation 5 chegam ao p...             0
296  @playstation_br 5 mil reais mano? ajuda nóis, ...             1
297  queria muito o playstation 5 mas 4 mil reais, ...             1
298  comprar um playstation 5, só para jogar harry ...             1
299  playstation 5 = 5 mil reais.... outro console ...             1

[300 rows x 2 columns]

In [5]:
# definir 0 como irrelevante e 1 como relevante, variavel categorica

data["Classificado"] = data["Classificado"].astype('category')
data["Classificado"].cat.categories = ['relevante', 'irrelevante']

In [6]:
def clean(tweet):
    return ''.join([i if ord(i) < 128 else '' for i in tweet])
data["Treinamento"] = data["Treinamento"].apply(clean)
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.lower())
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('.',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('\n',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('?',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('!',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('"',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace(';',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('#',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace('&amp',' '))
data["Treinamento"] = data["Treinamento"].apply(lambda x: x.replace(',',' '))
data

                                           Treinamento Classificado
0    fortnite no playstation 5 no dia do lanamento ...    relevante
1    o anncio ocorre um dia aps a sony brasil ter a...    relevante
2    o playstation 5  bonito    quero um  sim  tenh...  irrelevante
3    @playstation_br vou ao paraguai e trazer para ...  irrelevante
4    @stefano_poke nao viaja pelo amor de deus     ...  irrelevante
..                                                 ...          ...
295  jogos first-party do playstation 5 chegam ao p...    relevante
296  @playstation_br 5 mil reais mano  ajuda nis  e...  irrelevante
297  queria muito o playstation 5 mas 4 mil reais  ...  irrelevante
298  comprar um playstation 5  s para jogar harry p...  irrelevante
299  playstation 5 = 5 mil reais     outro console ...  irrelevante

[300 rows x 2 columns]

In [7]:
relevante = data["Classificado"] == 'relevante'
data1 = data.loc[relevante, :]
num_rel = data1.Classificado.value_counts()[0]
print("O numero de dados relevantes é: {0}".format(num_rel))

O numero de dados relevantes é: 211

In [8]:
irrelevante = data["Classificado"] == 'irrelevante'
data2 = data.loc[irrelevante, :]
num_irr = data2.Classificado.value_counts()[1]
print("O numero de dados irrelevantes antes de filtro é: {0}".format(num_irr))

O numero de dados irrelevantes antes de filtro é: 89

In [9]:
#listagem de dados relevantes

In [10]:
palavras = str(data.Treinamento)
palavras = pd.Series(palavras.split())
palavras = palavras.value_counts(True)
palavras

5              0.076190
...            0.057143
playstation    0.057143
um             0.028571
reais          0.028571
                 ...
e              0.009524
amor           0.009524
a              0.009524
0              0.009524
2              0.009524
Length: 72, dtype: float64

In [11]:
lista_relevante =  str(data1.Treinamento)
relevante = pd.Series(lista_relevante.split())
relevante

0                 0
1          fortnite
2                no
3       playstation
4                 5
           ...
103    Treinamento,
104         Length:
105            211,
106          dtype:
107          object
Length: 108, dtype: object

In [12]:
tabela_relevante_absoluta = relevante.value_counts()
tabela_relevante_relativa = relevante.value_counts(True)
tabela_relevante_relativa.sum()

1.0000000000000002

In [13]:
#listagem de dados irrelevantes

In [14]:
lista_irrelevante =  str(data2.Treinamento)
irrelevante = pd.Series(lista_irrelevante.split())
irrelevante

0                 2
1                 o
2       playstation
3                 5
4            bonito
           ...
99     Treinamento,
100         Length:
101             89,
102          dtype:
103          object
Length: 104, dtype: object

In [15]:
tabela_irrelevante_absoluta = irrelevante.value_counts()
tabela_irrelevante_relativa = irrelevante.value_counts(True)
tabela_irrelevante_relativa.sum()

0.9999999999999996

In [16]:
tabela_relevante_relativa["playstation"]

0.037037037037037035

In [17]:
tabela_irrelevante_relativa["playstation"]

0.0673076923076923

In [18]:
# teste de tweet a classificar

import random
tweet_aleatorio = random.randint(0, 301)


frase_teste = data.Treinamento[tweet_aleatorio]
#frase_teste = clean(frase_teste.lower())
frase_teste

'no meu post de ontem cometei que eu via 4 candidatos a serem jogos do lanamento do ps5  hoje a sony confirmou exatamente os mesmos 4 jogos https://t co/gpyj2sny6w https://t co/jlypkc1pyn'

In [19]:
frase = frase_teste.split()
frase

['no',
 'meu',
 'post',
 'de',
 'ontem',
 'cometei',
 'que',
 'eu',
 'via',
 '4',
 'candidatos',
 'a',
 'serem',
 'jogos',
 'do',
 'lanamento',
 'do',
 'ps5',
 'hoje',
 'a',
 'sony',
 'confirmou',
 'exatamente',
 'os',
 'mesmos',
 '4',
 'jogos',
 'https://t',
 'co/gpyj2sny6w',
 'https://t',
 'co/jlypkc1pyn']

In [20]:
#teste de probabilidade

In [21]:
prob_relevante = len(relevante)/(len(relevante)+len(irrelevante))
prob_irrelevante = len(irrelevante)/(len(relevante)+len(irrelevante))

print("A probabilidade dos termos serem relevantes é: ", prob_relevante)
print("A probabilidade dos termos serem irrelevantes é: ", prob_irrelevante)

print(prob_relevante+prob_irrelevante)

A probabilidade dos termos serem relevantes é:  0.5094339622641509
A probabilidade dos termos serem irrelevantes é:  0.49056603773584906
1.0

In [22]:
# probabilidade do tweet dado condicao: relevante ou irrelevante

In [23]:
prob_tweet_dado_relevante = 1
prob_tweet_dado_irrelevante = 1

n_r = len(tabela_relevante_absoluta)
n_ir = len(tabela_irrelevante_absoluta)

total = n_r + n_ir


for i in range(len(frase)):
    if frase[i] not in tabela_relevante_absoluta:
        prob_tweet_dado_relevante = prob_tweet_dado_relevante*((0+1)/(n_r+total)) 
    else:
        
        prob_tweet_dado_relevante = prob_tweet_dado_relevante*(tabela_relevante_absoluta[frase[i]]+1)/(n_r+total)
        
    if frase[i] not in tabela_irrelevante_absoluta:
        prob_tweet_dado_irrelevante = prob_tweet_dado_irrelevante*((0+1)/(n_ir+total))
        
    else:
        prob_tweet_dado_irrelevante = prob_tweet_dado_irrelevante*(tabela_irrelevante_absoluta[frase[i]]+1)/(n_ir+total)

In [24]:
prob_tweet_dado_relevante = prob_tweet_dado_relevante*prob_relevante
prob_tweet_dado_irrelevante = prob_tweet_dado_irrelevante*prob_irrelevante

print(prob_tweet_dado_relevante)
print(prob_tweet_dado_irrelevante)

1.5552956943380134e-67
7.41739277606933e-72

In [25]:
if prob_tweet_dado_relevante/prob_tweet_dado_irrelevante > prob_tweet_dado_irrelevante/prob_tweet_dado_relevante:
    print("Tweet relevante, porcentagem de relevancia: ", prob_tweet_dado_relevante/prob_tweet_dado_irrelevante)
else:
    print("Tweet irrelvante, porcentagem de relevancia",prob_tweet_dado_irrelevante/prob_tweet_dado_relevante)
    
print("Tweets relevantes: ", prob_tweet_dado_relevante/prob_tweet_dado_irrelevante)
      
print("Tweets irrelevantes: " ,prob_tweet_dado_irrelevante/prob_tweet_dado_relevante)

Tweet relevante, porcentagem de relevancia:  20968.22618529587
Tweets relevantes:  20968.22618529587
Tweets irrelevantes:  4.769120626432663e-05